* {
	box-sizing:border-box;
}
body {
	font-family: tahoma,sans-serif;
	color: #333;
	margin: 80px 10%;
}
.header {
	line-height: 1.5;
	font-size: 24px;
	text-align: center;
}
.header span {
	font-weight: 300
}
.header h1 {
	font-weight: 900;
	text-transform: uppercase;
}
.video, .form {
	margin-top: 80px;
	display: inline-block;
	vertical-align: top;
}
.form {
	height: 315px;
	text-align: center;
	border: 5px solid blue;
	margin-left: 20px;
}
.form input {
	display: block;
	width: 300px;
	margin: 20px;
	padding: 17px;
	font-size: 18px;
	border: 1px solid #333;
}
.form p {
	text-align: center;
	font-weight: 900;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.form button {
	color: #fff;
	background-color: blue;
	font-size: 18px;
	height: 55px;
	width: 300px;
	margin-top: 15px;
	border: none;
}.main {
	text-align: center;
}
.col {
	display: inline-block;
	margin: 10px 36px;
	text-align: center;
}
.col p {
	margin-top: 20px;
	font-weight: 500;
}
.section-2 {
	margin-top: 80px;
}
.section-2 h2 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 24px;
}
.feature {
	margin-top: 50px;
	text-align: center;
}
.feature button {
	color: #fff;
	background-color: blue;
	font-size: 18px;
	height: 55px;
	width: 300px;
	margin-top: 15px;
	border: none;
	margin-top: 80px;
}